{% load humanize %}

<input
  name="{{ amount.name }}"
  id="{{ amount.name }}"
  value="{{ amount.amount }}"
/>

<button
  data-name="{{ amount.name }}"
  data-url="{% url amount.create_update pk=amount.ledger_entry.mortgage_pk %}"
  onclick="amountSave(
    this.dataset.url,
    this.dataset.name,
    {{ amount.month_number}}
  )"
  type="button"
>
  SAVE
</button>

{% if amount.pk %}
  <button
    data-url="{% url amount.delete pk=amount.pk %}"
    onclick="amountDelete(this.dataset.url)"
    type="button"
  >
    DELETE
  </a>
{% endif %}
