{% extends "base.html" %}

{% load humanize %}

{% block content %}
  <h1>{{ mortgage }}</h1>

  <p><a href="{% url 'mortgages:list' %}">&lt; Mortgages</a></p>

  <table>
    <thead>
      <th>End date</th>
      <th>Total cost</th>
    </thead>
    <tr>
      <td>
        {% with ledger|last as entry %}
          {{ entry.year }}-{{ entry.month|stringformat:"02d" }}
        {% endwith %}
      </td>
      <td>{{ total_cost|intcomma }}</td>
    </tr>
  </table>

  <table>
    <thead>
      <th>Date</th>
      <th>Opening balance</th>
      <th>Interest</th>
      <th>Payment</th>
      <th>Overpayment</th>
      <th>Discrepancy</th>
      <th>Closing balance</th>
    </thead>
    {% for entry in ledger %}
      {{ entry.as_tr }}
    {% endfor %}
  </table>

  <a href="{% url 'mortgages:delete' pk=mortgage.pk %}">
    Delete this mortgage
  </a>
  <form action="{% url 'mortgages:duplicate' pk=mortgage.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit">Duplicate this mortgage</button>
  </form>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script>
    {% include "mortgages/base.js" %}
  </script>
{% endblock %}
